* {
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.cus-input:focus {
    border: 1px solid #1f1f1f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-btn {
    display: block;
    margin: 0 auto;
    background-color: white;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    font-weight: 700;
    transition: .5s;
}

.login-btn:hover {
    color: white;
    background-color: #1f1f1f;
    border: 1px solid white;
    transform: scale(1.2);
}